<p id="notice"><%= notice %></p>

<h1>Manage Medias</h1>

<table>
  <thead>
    <tr>
      <th>Title </th>
      <th>Category </th>
      <th>Authors</th>
      <th>Duration</th>
      <th>Is Live</th>
      <th>Is Available?</th>
      <th>Number of views</th>
      <th>Number of like</th>
    </tr>
  </thead>

  <tbody>
    <% @medias.each do |media| %>
      <tr>
        <td><%= media.title %></td>
        <td><%= media.media_category.name if !media.media_category_id.nil? %></td>
        <td><%= media.authors %></td>
        <td><%= media.duration %></td>
        <td><%= media.is_live %></td>
        <td><%= media.is_available %></td>
        <td><%= media.nb_views %></td>
        <td><%#= media.nb_like %></td>

        <td><%= link_to 'Edit', edit_media_path(media) %></td>
        <td><%= link_to 'Destroy', media, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Media', new_media_path %>
