<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12 col-sm-12 media-management-header">
    <span class="title">Medias</span><span class="medias-count"><%= @medias.count %></span>
  </div>
</div>
<div class="row">
    <%= link_to new_media_path, :class=>"col-xs-12 col-sm-2" do %>
      <span class="glyphicon glyphicon-plus-sign "></span>
      <span class="add-media">Add Media</span>

    <% end %>
</div>
<hr>
<div class="row">
  <div class="medias col-xs-12 col-sm-12">
      <% @medias.each do |media| %>
        <div class="media-links col-xs-12 col-sm-2">
            <%= link_to edit_media_path(media) do %>
                <span class="media-cover"><%= image_tag media.img_url(:thumb).to_s %></span><br>
                <div class="media-informations">
                    <span class="media-title"><%= media.title %></span><br>
                    <span class="media-date"><%= media.created_at %></span><br>
                  <!--
                    <span class="media-category-name"><%#= media.media_category.name if !media.media_category_id.nil? %></span><br>
    -->
                    <span class="media-duration"><%= media.duration %></span><br>
                    <span class="glyphicon glyphicon-eye-open"></span><span class="media-nb-views"><%= media.nb_views %></span><br>
                    <span class="glyphicon glyphicon-thumbs-up"></span><span class="media-nblike"><%#= media.nb_like %></span><br>
                  <hr>
                </div>
            <% end %>
            <%= link_to '', media, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-media glyphicon glyphicon-trash" %>
        </div>
      <% end %>
  </div>
</div>

