<p>Please fill fields:</p>

<div class="field">
  <p>Question</p>
  <%= text_field_tag 'question' %><br>
</div>
<div class="field">
  <p>Field 1</p>
  <%= text_field_tag 'field1' %><br>
</div>
<div class="field">
  <p>Field 2</p>
  <%= text_field_tag 'field2' %><br>
</div>
<div class="field">
  <p>Score field 1</p>
  <%= text_field_tag 'score_field1' %><br>
</div>
<div class="field">
  <p>Score field 2</p>
  <%= text_field_tag 'score_field2' %><br>
</div>
