<p>Please fill fields:</p>

<div class="field">
  <p>Question</p>
  <%= text_field_tag 'question' %><br>
</div>

<div class="field">
  <p>Field 1</p>
  <%= text_field_tag 'field1' %><br>
</div>
<div class="field">
  <p>Field 2</p>
  <%= text_field_tag 'field2' %><br>
</div>
<div class="field">
  <p>Field 3</p>
  <%= text_field_tag 'field3' %><br>
</div>
<div class="field">
  <p>Field 4</p>
  <%= text_field_tag 'field4' %><br>
</div>
<div class="field">
  <p>Correct Field</p>
  <%= text_field_tag 'correct_field' %><br>
</div>
