<p id="notice"><%= notice %></p>
<p><strong>THIS IS USER CHANNEL</strong></p>

<p>
  <strong>Channel:</strong>
  <%= @channel.title unless nil? %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<p>
  <strong>Cover:</strong>
  <img src=<%= @user.cover %>></img>
</p>


<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>


<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>States:</strong>
  <%= @user.states %>
</p>
<%= link_to 'Back', root_url %>
