<p id="notice"><%= notice %></p>
<p><strong>THIS IS USER CHANNEL</strong></p>

<p><strong><%= link_to @user.pseudo, channel_path(current_user) %></strong></p>
<div class="channel-menu">
  <strong><%= link_to "Presentation video", "#" %></strong> |
  <strong><%= link_to "Videos", "#" %></strong> |
  <strong><%= link_to "Comments", "#" %></strong> |
  <strong><%= link_to "About", "#" %></strong
</div>

<div class="presentation" style="height:auto;min-height:250px;margin-bottom:13px;">
    <p><iframe style="float:left" width="260" height="200" src=<%= @channel.presentation_video.to_s %>></iframe></p>
    <%= @channel.presentation_text %>
</div>
<p style="color:red">
  ALL CATEGORIES OF PLAYLIST WITH BEST LIMIT OF MEDIAS GO HERE...
</p>
<div class="">
  <%= link_to 'Back', root_url %>
</div>



