<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <%= form_for(@event) do |f| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title %><br>
            </div>
            <div class="field">
              <%= f.label :address %><br>
              <%= f.text_field :address %><br>
            </div>
            <div class="field">
              <%= f.label :zip_code %><br>
              <%= f.text_field :zip_code %><br>
            </div>
            <div class="field">
              <%= f.label :city %><br>
              <%= f.text_field :city %><br>
            </div>
            <div class="field">
              <%= f.label :states %><br>
              <%= f.text_field :states %><br>
            </div>
            <div class="field">
              <%= f.label :country %><br>
              <%= f.text_field :country %><br>
            </div>
            <div class="field">
              <%= f.label :beginning_datetime %><br>
              <%= f.datetime_select :beginning_datetime %><br>
            </div>
            <div class="field">
              <%= f.label :finishing_datetime %><br>
              <%= f.datetime_select :finishing_datetime %><br>
            </div>
            <div class="field">
              <%= f.label :is_live %><br>
              <%= f.check_box :is_live %><br>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_field :description %><br>
            </div><br>

            <div class="actions">
              <%= button_to("Update", "", {:class=>"btn btn-primary"}) %>
            </div>
            <br>
          </div>
        <% end %>
    </div>
</div>