<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="#">#</th>
      <th colspan="#">Title</th>
      <th colspan="#">Address</th>
      <th colspan="#">Zip Code</th>
      <th colspan="#">City</th>
      <th colspan="#">States</th>
      <th colspan="#">Country</th>
      <th colspan="#">Beginning date</th>
      <th colspan="#">Finishing date</th>
      <th colspan="#">Is live?</th>
      <th colspan="#">Created at</th>
      <th colspan="#">Last update at</th>
      <th colspan="#"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each_with_index do |event, i| %>
      <tr>
        <td colspan="#"><%= i+1 %></td>
        <td colspan="#"><%= event.title %></td>
        <td colspan="#"><%= event.address %></td>
        <td colspan="#"><%= event.zip_code %></td>
        <td colspan="#"><%= event.city %></td>
        <td colspan="#"><%= event.states %></td>
        <td colspan="#"><%= event.country %></td>
        <td colspan="#"><%= event.beginning_datetime %></td>
        <td colspan="#"><%= event.finishing_datetime %></td>
        <td colspan="#"><%= event.is_live %></td>
        <td colspan="#"><%= event.created_at %></td>
        <td colspan="#"><%= event.updated_at %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
