<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <%= form_for(@document, :html => {:multipart => true}) do |f| %>
          <% if @document.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

              <ul>
              <% @document.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title %><br>
            </div>
            <div class="field">
              <%= f.label :is_display %>
              <%= f.check_box :is_display %><br>
            </div>
            <div class="field">
              <%= f.label :authors  %><br>
              <%= f.text_field :authors %><br>
            </div>
            <div class="field">
              <%= f.label :file %><br>
              <%= f.file_field :file %><br>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_field :description %><br>
            </div>
            <%= f.hidden_field :added_by, :value => current_user.name %><br>
            <%= f.hidden_field :bin_id, :value => params[:my_bin] %><br>

            <div class="actions">
              <%= button_to("Update", "", {:class=>"btn btn-primary"}) %>
            </div>
        <% end %>
  </div>
</div>