<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_category_of_playlists_channel_path(@category_of_playlists_channel) %> |
<%= link_to 'Back', category_of_playlists_channels_path %>

<div class="row">
  <h3 class="plist-categ-name col-xs-12 col-sm-8 col-sm-offset-2"><%=@plist_categ.title%></h3>
</div>
<div class="row">
  <div class="plist-categs col-xs-12 col-sm-8 col-sm-offset-2">
    <ul class="nav nav-pills nav-stacked">
      <% @plists_in_current_category.each do |plist| %>
        <li class="plist-categ-link">
            <%= link_to playlist_path(plist.id) do %>
              <span class="plist-name"><%= plist.title %></span><br>
              <span class="plist-date"><%= plist.created_at %></span><br>
              <span class="plist-user"><%= plist.user.channel.title %></span>
              <span class="arrow-link glyphicon glyphicon-chevron-right"></span>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
