<h1>Login</h1>
<span class="login-text-indication">Login? please enter your user access.</span>

<%= form_tag @sessions do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>

    <p class="button"><%= submit_tag %></p>
<% end %>