<!DOCTYPE html>
<html>
<head>
  <title>Imsp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <div id="user_nav">
        <div class="user_cover"><img src=<%= current_user.cover unless current_user.nil? %>></img></div>
        <% if user_signed_in? %>
            Logged in as <strong><%= link_to "#{current_user.pseudo}",user_path(current_user) %></strong> |
            <%= link_to 'My profile', user_path(current_user) %> |
            <%= link_to 'My Channel', channel_path(current_user) %> |
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to 'My videos', medias_path %> |
            <%= link_to 'Playlists', playlists_path %> |
            <%= link_to 'Categories', category_of_playlists_channels_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> <br>
            <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> <br>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Login", new_user_session_path %>
      <% end %>

      </div>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>

</body>
</html>
